package ${servicePackageName}.api;

import static ${servicePackageName}.api.${qualifier}ARandom.aRandom

class Random${targetClass}Builder extends ${targetClass}.${targetClass}Builder {

    public Random${targetClass}Builder() {
        throw new RuntimeException("add some stuff")
    }

}
