package ${packageName}.permissions;

import com.blackbaud.security.permission.AbstractPermissions;

import java.util.Map;

public class ${serviceName}Permissions extends AbstractPermissions {
    @Override
    protected void initPermissions(Map<String, Long> permissions) {
        // TODO: Add permissions for your service as needed
        // permissions.put("${servicePermissionPrefix}.view", 1L);
    }
}
