package ${servicePackageName};

import com.blackbaud.azure.eventhubs.adapter.EventHubsProperties;
import com.blackbaud.azure.eventhubs.config.EventHubsConsumerConfig;
import com.blackbaud.azure.eventhubs.config.EventHubsPublisherConfig;
import com.blackbaud.azure.eventhubs.consumer.EventHubConsumer;
import com.blackbaud.azure.eventhubs.consumer.EventHubConsumerBuilder;
import com.blackbaud.azure.eventhubs.publisher.JsonEventPublisher;
import com.blackbaud.azure.eventhubs.publisher.EventHubPublisherFactory;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Import;

@Configuration
@Import({EventHubsConsumerConfig.class, EventHubsPublisherConfig.class})
public class EventHubsConfig {

}
